Signed in as <%= user_or_email %> <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>

<div class="container">

  <h2>SYNTAX GUIDE</h2>
  <pre>Image:   ![title][http://link.com]</pre>
  <pre>Link:     [title][http://link.com]</pre>
  <pre>header:   # large text</pre>
  <pre>smaller header:   ## large text</pre>
  <pre>line:     --------- </pre>

  <div class="row">
    <% @contents.each do |content| %>
      <h2><%= content.title %></h2>
      <%= simple_form_for(@contents) do |f| %>
        <div class="form-inputs">
          <%= f.input :body %>
        </div>

        <div class="form-actions">
          <%= f.button :submit %>
        </div>
      <% end %>
    <% end %>
    <br>
    <br>
    <br>
    <br>
    <br>
    <hr class="hrheading">
  </div>
</div>