Signed in as <%= user_or_email %> <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>

<%= link_to "Enroll", new_student_path %>


<h4>Enrolled Students</h4>
<% if @students %>
    <% @students.each do |student| %>
        <%= link_to "#{student.firstname.capitalize} #{student.lastname.capitalize}", student %>
    <% end %>
<% end %>