<section class="content">
  <div class="container_wide page" style="overflow: hidden; padding-top:32px;">
    <div class="content">
      <div class="col-6">
        <h6>Email</h6>
        <p style="text-align: left;">For general inquiries: <%= mail_to 'info@icancodeclub.com' %><br>
        For careers at iCanCode: <%= mail_to 'careers@icancodeclub.com' %></p>
      </div>
      <div class="col-1"></div>
      <div class="col-3 compact negative" style="background: #8fd12e" >
        <h2 style="background: none;">Contact Details</h2>
        <p>INQUIRIES AND CAREERS</p>
        <hr>
        <h6>Address</h6>
    <iframe width="100%" height="300" frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2913.3865007809595!2d-77.5659342!3d43.0963918!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d14aa11437525f%3A0x38ef015da5c18690!2sLouis+S.+Wolk+JCC+of+Greater+Rochester!5e0!3m2!1sen!2sus!4v1488053932584" allowfullscreen></iframe>

        <h6>Phone Number</h6>
        <p>585-434-5533</p>

        <h6>Email</h6>
        <p style="text-align: left;">For general inquiries: <%= mail_to 'info@icancodeclub.com' %></p><br>
        <p style="text-align: left;">For careers at iCanCode: <%= mail_to 'careers@icancodeclub.com' %></p>


        <h6>Hours of Operation</h6>
        <p>Varies by location.  Visit <%= link_to 'our programs page', courses_overview_path %> for details.</p>
          <br>
          <br>
      </div>
    </div>
  </div>
</section>
