<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

    <article>
      <div class="login-form">
        <div class="content">
          <div id="lessonWrapper">
            <div class="col-10 lesson" id="program-c">
              <h1>Sign Up</h1>
              <hr>

              <div class="break"></div>

              <div class="row form">
                <%= f.email_field :email, placeholder: "Email", autofocus: true %>
              </div>

              <div class="row form">
                <%= f.password_field :password, placeholder: "Password", autocomplete: "off" %>

                <%# if @validatable %>
                    <%#= @minimum_password_length %>
                <%# end %>

              </div>

              <div class="row form">
                <%= f.password_field :password_confirmation, placeholder: "Password Confirmation", autocomplete: "off" %>
              </div>



              <div class="break"></div>

              <%= f.submit class: "button center", value: "Sign Up" %>

              <div class="break"></div>
              <hr>
              <div class="break"></div>

              <%= render "devise/shared/links" %>

            </div>
          </div>
        </div>
      </div>
    </article>
<% end %>

<%= render "devise/shared/links" %>
