<table>
  <caption>Emergency Information</caption>
  <tr>
    <td>Emergency Contact Name</td>
    <td><%= "#{@student.emergency_contact_first_name.capitalize} #{@student.emergency_contact_last_name.capitalize}" %></td>
  </tr>
  <tr>
    <td>Emergency Contact Phone</td>
    <td><%= "#{@student.emergency_contact_phone}" %></td>
  </tr>
  <tr>
    <td>Medical Conditions</td>
    <td><%= "#{@student.medical_conditions}" %></td>
  </tr>
</table>