<%= form_for(@student) do |f| %>
    <% if @student.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

          <ul>
            <% @student.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="container">
      <section>
        <h2 data-typercat="1">Student Information</h2>
        <hr class="hrheading">
        <div class="formContainer">
          <div class="field half">
            <%= f.label 'First name *' %>
            <%= f.text_field :firstname, required: true, class: 'input typer', data: { typeradd: "'s Information", typercat: "1" } %>
          </div>

          <div class="field half">
            <%= f.label 'Last name *' %>
            <%= f.text_field :lastname, required: true, class: 'input' %>
          </div>

          <div class="field">
            <%= f.label 'Gender *' %>
            <%= f.select(:gender, Student::GENDERS) %>
          </div>

          <!--ugly hack because of date displays-->
          <div class="field">
            <%= f.label 'Birthday *' %>
          </div>
          <div class="field third">
            <%= f.date_select :birthday, :start_year => Date.current.year, :end_year => 1920, class: 'input', date_separator: "</div><div class='field third'>" %> <
          </div>
        </div>
      </section>

      <section>
        <div class="formContainer">
          <h2>Emergency Information</h2>
          <hr class="hrheading">
          <div class="field half">
            <%= f.label 'First name *' %>
            <%= f.text_field :emergency_contact_first_name, required: true, class: 'input' %>
          </div>
          <div class="field half">
            <%= f.label 'Last name *' %>
            <%= f.text_field :emergency_contact_last_name, required: true, class: 'input' %>
          </div>
          <div class="field">
            <%= f.label 'Phone number *' %>
            <%= f.telephone_field :emergency_contact_phone, required: true, class: 'input' %>
          </div>
          <%= f.label :medical_conditions %>
          <%= f.text_area :medical_conditions, required: true, class: 'input' %>
        </div>
      </section>

      <section>
        <h2>Parent or Guardian Contact</h2>
        <%= f.fields_for :student_parent_informations do |builder| %>
            <%= render 'student_parent_information_fields', f: builder %>
        <% end %>
        <%= link_to_add_fields('Add Parent or Guardian Contact', f, :student_parent_informations) %>
      </section>





      <!--<section>
        <h2>Pickup (for parents and guardians)</h2>

        Based on these details, please indicate your preference below.
        Yes - I give my permission for iCodeKids to release my child(ren) for pick up to the following people whom I am
        now designating in writing.
        No - No person, other than parent(s) is authorized to pick up.

        <%#= f.label :pickup_consent %>
        <%#= f.check_box :pickup_consent %>
      </section>

      <section>
        <h2>Door Code Information</h2>
        <%#= f.label :door_code %>
        The door code is the code your child will input when entering the iCodeKids building.
        <%#= f.text_field :door_code %>
      </section>-->


      <!--<section>
        <h2>Consent</h2>
        I give consent for my home address and phone number to be included on a iCodeKids community list to be
        distributed
        to iCodeKids families when requested.
        <%#= f.label :community_consent %>
        <%#= f.check_box :community_consent %>

        I give consent for iCodeKids to post photographs including the enrollee on iCodeKids's internet sources.
        <%#= f.label :photograph_consent %>
        <%#= f.check_box :photograph_consent %>
      </section>-->
      <%= f.submit %>

    </div>
<% end %>
