<% if @student.student_parent_informations.each %>
    <% @student.student_parent_informations.each do |parent| %>
        <table>
          <caption><%= "#{parent.firstname} #{parent.lastname}" %></caption>
          <% if parent.cellphone %>
              <tr>
                <td>
                  Cell Phone
                </td>
                <td>
                  <%= number_to_phone(parent.cellphone) %>
                </td>
              </tr>
          <% end %>
          <% if parent.homephone %>
              <tr>
                <td>
                  Home Phone
                </td>
                <td>
                  <%= number_to_phone(parent.homephone) %>
                </td>
              </tr>
          <% end %>
          <% if parent.workphone %>
              <tr>
                <td>
                  Work Phone
                </td>
                <td>
                  <%= number_to_phone(parent.workphone) %>
                </td>
              </tr>
          <% end %>
          <% if parent.email %>
              <tr>
                <td>
                  Email
                </td>
                <td>
                  <%= parent.email %>
                </td>
              </tr>
          <% end %>
          <% if parent.address and parent.city and parent.state and parent.zip %>
              <tr>
                <td>
                  Address
                </td>
                <td>
                  <%= "#{parent.address} #{parent.city}, #{parent.state}, #{parent.zip}" %>
                </td>
              </tr>
          <% end %>
        </table>
    <% end %>
<% end %>