<table>
  <caption>General Information</caption>
  <tr>
    <td>Birthdate</td>
    <td><%= @student.birthday.strftime("%B %e, %Y") %></td>
  </tr>
  <tr>
    <td>Gender</td>
    <td><%= @student.gender %></td>
  </tr>
  <tr>
    <td>Community Consent</td>
    <td><%= @student.community_consent ? "Yes" : "No" %></td>
  </tr>
  <tr>
    <td>Photograph Consent</td>
    <td><%= @student.photograph_consent ? "Yes" : "No" %></td>
  </tr>
</table>

<table>
  <caption>Transportation</caption>
  <tr>
    <td>Pickup by non-parent/guardian</td>
    <td><%= @student.pickup_consent ? "Yes" : "No" %></td>
  </tr>
  <tr>
    <td>Door Code</td>
    <td><%= @student.door_code %></td>
  </tr>
</table>