<fieldset>
  <div class='dtparent'>
    <div class="dangerText remove_fields">
      Delete
    </div>
  </div>

  <div class="formContainer">
    <div class="field half">
      <%= f.label 'First name *' %>
      <%= f.text_field :firstname, required: true, class: 'input' %>
    </div>
    <div class="field half">
      <%= f.label 'Last name *' %>
      <%= f.text_field :lastname, required: true, class: 'input' %>
    </div>
    <div class="field">
      <%= f.label 'Email *' %>
      <%= f.email_field :email, class: 'input', required: true %>
    </div>

    <div class="field third">
      <%= f.label 'Homephone *' %>
      <%= f.text_field :homephone, required: true, class: 'input' %>
    </div>
    <div class="field third">
      <%= f.label 'Cellphone *' %>
      <%= f.text_field :cellphone, required: true, class: 'input' %>
    </div>
    <div class="field third">
      <%= f.label 'Workphone *' %>
      <%= f.text_field :workphone, required: true, class: 'input' %>
    </div>

    <div class="field fourth">
      <%= f.label 'Address *' %>
      <%= f.text_field :address, required: true, class: 'input' %>
    </div>
    <div class="field fourth">
      <%= f.label 'City *' %>
      <%= f.text_field :city, required: true, class: 'input' %>
    </div>
    <div class="field fourth">
      <%= f.label 'State *' %>
      <%= f.select(:state, StudentParentInformation::STATES, required: true, class: 'input') %>
    </div>
    <div class="field fourth">
      <%= f.label 'Zipcode *' %>
      <%= f.text_field :zip, required: true, class: 'input' %>
    </div>

    <%= f.hidden_field :_destroy %>

  </div>
</fieldset>




