<%= form_for(@student) do |f| %>
    <!--TODO: ask farah how many courses will be offered - might be able to get away with a simple select. -->
    <% if @student.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

          <ul>
            <% @student.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class='container'>

      <% if @courses.length > 0 %>
          <p>Reminder: Your child is currently enrolled in the following courses: </p>
          <% @courses.each do |course| %>
              <p>
                <%= "#{course.name}" %> <!--TODO: add year they're signed up for-->
              </p>
          <% end %>
      <% end %>


      <section>
        <h2>Class Signup</h2>

        <%= f.fields_for :course_ids do |builder| %>
            <%= builder.collection_select(nil, Course.all, :id, :name, prompt: true) %> <!--TODO: get this to display the current value?-->
        <% end %>

      </section>
    </div>
<% end %>