<%- headers = ['First Name',
               'Last Name',
               'Birthday',
               'Gender',
               'Pickup Consent',
               'Door Code',
               'Emergency Contact First Name',
               'Emergency Contact Last Name',
               'Emergency Contact Phone',
               'Medical Conditions',
               'Community Consent',
               'Photograph Consent'
] -%>
<%= CSV.generate_line(headers).strip%>

<%- @students.each do |student| -%>
    <%- row = [ student.firstname,
                student.lastname,
                student.birthday,
                student.gender,
                student.pickup_consent,
                student.door_code,
                student.emergency_contact_first_name,
                student.emergency_contact_last_name,
                student.emergency_contact_phone,
                student.medical_conditions.html_safe,
                student.community_consent,
                student.photograph_consent
    ] -%>
    <%= CSV.generate_line(row).html_safe.strip%>
<%- end -%>
