<div class="container">
  <section>
    <div class="row">
      <h2><%= student_full_name(@student) %></h2>
      <hr class="hrheading">
    </div>

    <%= render 'emergency_table' %>

    <%= render 'student_table' %>

  </section>

  <hr>

  <section>
    <div class="row">
      <h2>Parents / Guardians</h2>
      <hr class="hrheading">
    </div>

    <%= render 'parent_table' %>
  </section>



  <% if @student.courses.length > 0 %>
      <hr>
      <section>
        <div class="row">
          <h2>Courses</h2>
          <hr class="hrheading">
        </div>

        <%= render 'course_table' %>
      </section>
  <% end %>

  <%= link_to('Add Class', id: @student.id, controller: 'students', action: 'courses') %>
  <%= link_to 'Edit', edit_student_path(@student) %>
  <%= link_to 'Back', dashboard_path %>

</div>



