<div class="rowbig" id="allCourses">
  <div class="content">
    <div id="lessonWrapper">
      <div class="col-third lesson" id="program-a">
        <h1>Schools and Clubs</h1>
        <hr>
        <%= image_tag("icon_programming_p.png") %>
        <%=link_to academic_path do%>
            <div class="button wow popUp">
              <div>
                Visit Page
              </div>
            </div>
        <% end %>
        <p>Offers programming focused courses at your school, Community Center, and other Pop Up locations.</p>
      </div>
      <div class="col-third lesson" id="program-b">
        <h1>Coding Camps</h1>
        <hr>
        <%= image_tag("icon_web.png") %>
        <%=link_to camps_path do%>
            <div class="button wow popUp">
              <div>
                Visit Page
              </div>
            </div>
        <% end %>
        <p>During school closures and Holidays.</p>
      </div>
      <div class="col-third lesson" id="program-c">
        <h1>Workshops & Events</h1>
        <hr>
        <%= image_tag("icon_app.png") %>
        <%=link_to events_path do%>
            <div class="button wow popUp">
              <div>
                Visit Page
              </div>
            </div>
        <% end %>
        <p>Workshops, Hackathons, Robotics Events, Tech Tours, Special Events, and more.</p>  <!--TODO: get actual descriptions-->
      </div>
    </div>
  </div>
</div>
