<div style="background: url(<%= background_url %>) no-repeat center center" class="courseHeader fbg" >
  <h1 class="wow popUp"><%= title %></h1>

  <div class="break"></div>
  <div class="row textCenter">
    <% if links %>
        <a href="#beginner">
          <div class="homeButton f_blue">BEGINNER</div>
        </a>
        <a href="#intermediate">
          <div class="homeButton f_green">INTERMEDIATE</div>
        </a>
        <a href="#advanced">
          <div class="homeButton">ADVANCED</div>
        </a><br>
    <% end %>
    <a href="#allCourses">
      <div class="homeButton f_white">ALL PROGRAMS</div>
    </a>
  </div>
</div>