<div class="navLeft">
  <%=link_to('HOME', home_path)%>
</div>
<div class="navLeft">
  <%= link_to('ENROLL',courses_overview_path) %>
</div>
<div class="navLeft">
  <%=link_to('CONTACT US', contact_path, {:style => 'color: #f271b6'})%>
</div>

<% if user_signed_in? %>
  <% if current_user.admin %>
    <div class="navLeft">
      <%=link_to('DASHBOARD', dashboard_path)%>
    </div>
  <% end %>
<% else %>
    <!--<div class="navLeft">  temp disabled
      <%#=link_to('SIGN IN', new_user_session_path)%>
    </div>-->
<% end %>
