<style>
a{
    font-size: 125%;
}
</style>

<div class="lessonPage programming"> <!--used for css rules -->
  <%= render "page/courseHeader", title: 'Academic Year Program', links: false, background_url: asset_url( 'academic_background.jpg') %>

  <div class="break"></div>

  <p style="margin: 0 auto; padding: 24px; display: block; text-align: center; font-size: 24px; font-weight: bold;">Want us to come to your school? <%= link_to "Contact us Here", "mailto:info@icancodeclub.com?subject=Request%20to%20Start%20a%20Coding%20Club%20at%20School" %></p>

  <div class="container_wide">
    <div class="content">
      <div class="colContainer">
        <div class="leftCol">
          <h5 class="f_blue">What We Teach</h5>
        </div>
        <div class="rightCol">
          <div class="horizline f_blue"></div>
          <p>
            &#8226;We teach 21st Century skills needed to succeed in this innovative economy using MIT’s Scratch block based programming in addition to JAVA, Minecraft, JavaScript, HTML, CSS, Unity C#, 3d Modeling, Arduino and VEX Robotics.<br>
&#8226;Students learn by Doing! Students learn programming by creating their own interactive stories, games, animations, apps, websites, and by building their own Robots<br>

&#8226;Students follow a project based curriculum using a combination of instructor-led and self-guided formats based on skills (beginner, intermediate, advanced). <br>

&#8226;Students are assigned to a coding mentor to ensure student continues to progress into more advanced coding platforms
	        <a href="/curriculum" class="wow popUp">More About Curriculum</a>
        </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container_wide">
    <div class="content">
      <div class="colContainer">
        <div class="leftCol">
          <h5 class="f_blue">How it Works</h5>
        </div>
        <div class="rightCol">
          <div class="horizline f_blue"></div>
          <p>
             • Weekly classes <br>
            • Trained Coding Instructors <br> 
 • Progress reports and prizes <br>
 • School portal, Online curriculum and Remote access from Home <br>
 • Grades 3-10 <br>
 • Low student to teacher ratio <br>
  • Free participation in Special Events, Robotics Events, Tech Tours, Hack Sessions, Expert Series, and Club Hackathons. <br>
• If students miss a class, they can make it up any day of the month based on availability (reservation required). <br>
 • Cool iCanCode Club T-Shirt when your child joins! <br>
 • Can start classes anytime! Schedule your Free Trial TODAY!<br>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container_wide">
    <div class="content">
      <div class="colContainer">
        <div class="leftCol">
          <h5 id="pricing">Which coding platform is best for my Child?</h5>
        </div>
        <div class="rightCol">
          <div class="horizline"></div>
          <p>
            Schedule a FREE TRIAL to find out!  Our professional staff work with families to outline learning goals and select appropriate platforms. Your child will fit right in! </br>
    <br>
    <br>

    <!-- <a href="https://icancodeclub.mvcodeclub.com/semesters/fall-rochester">View Fall Schedules</a> -->
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container_wide">
    <div class="content">
      <div class="colContainer">
        <div class="leftCol">
          <h5 class="f_green">Class Schedules and Pricing</h5>
        </div>
        <div class="rightCol">
          <div class="horizline f_green"></div>
<p>

<a style="font-weight: 800; font-size: 20px;" href='https://icancodeclub.mypaysimple.com/s/icancode-club-popup-locations'>Pop Up Location Schedules</a> 
<br>

<a style="font-weight: 800; font-size: 20px;" href='https://icancodeclub.mypaysimple.com/s/icancode-club-school-courses'>School Location Schedules</a> <br>

• Private group classes available for friends, family members, etc, a coding mentor will be assigned to the group (Minimum of 4) <br>

• Girls only classes available (Days and Times Available on demand)<br>
<br>

          </p>
        </div>
      </div>
    </div>
  </div> 

  <!--easy switching between courses-->
  <%= render "page/courses" %>
</div>
