<div class="lessonPage webDesign"> <!--used for css rules -->
  <%= render "page/courseHeader", title: 'Coding Camps Program', links: false, background_url: asset_url( 'coding_camp_background.jpg')  %>

  <div class="break"></div>
  
  <p style="margin: 0 auto; padding: 24px; display: block; text-align: center; font-size: 24px; font-weight: bold;">Want us to come to your school? <%= link_to "Contact us Here", "mailto:info@icancodeclub.com?subject=Request%20to%20Start%20a%20Coding%20Club%20at%20School" %></p>

  <div class="container_wide">
    <div class="content">
      <div class="colContainer">
        <div class="leftCol">
          <h5>Overview</h5>
        </div>
        <div class="rightCol">
          <div class="horizline"></div>
          <p>
            CODE, PLAY & INNOVATE
            <br><br>
            At iCanCode camps, student learn Cool 21st century programming skills the fun way and enjoy a fun tech experience combined with unplugged activities.<br><br>
            Campers build their own custom games and Websites while experiencing different coding platforms that incorporate math, physics, art and music, while enhancing their logical thinking and problem solving skills. Campers work on custom lesson plans based on age, interest and skill level with qualified coding instructors. Coding platforms include but not limited to SCRATCH INTERACTIVE GAMES & STORIES • Game Design in JAVASCRIPT • JAVA • UNITY 3D • ROBLOX PROGRAMMING in LUA • MINECRAFT MODDING in JAVA • ANIMATIONS•  WEB DEVELOPMENT• HTML• CSS• VEX & ARDUINO ROBOTICS
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container_wide">
    <div class="content">
      <div class="colContainer">
        <div class="leftCol">
          <h5>Camp Schedules</h5>
        </div>
        <div class="rightCol">
          <div class="horizline"></div>
          <p>
            During school closures and holidays:
            Full day camps available for everyone, members and non-members.
          </p>
        </div>
      </div>
    </div>
  </div>

 <div class="break"></div>
  <div class="container_wide" id="beginner">
    <div class="content">
      <div class="colContainer">
        <div class="leftCol">
	<div style="width: 100%">
</div>
          <h5>Camps</h5>
        </div>
        <div class="rightCol">

          <div class="horizline"></div>
          <p>
            Full day programs: <br> 

            <a target="_blank" href="https://brightonschools.revtrak.net/">Click here for available schedules and pricing at Brighton</a><br>
            <a target="_blank" href="http://www.perinton.org/">Click here for available schedules and pricing at Perinton</a><br>

            <p style='font-size: 32px;'>Summer Camps in Perinton and Brighton</p>

            <%= image_tag "flyer_perinton.jpg", style: 'float: left; width: 50%;' %>
            <%= image_tag "flyer_brighton.jpg", style: 'float: left; width: 50%;' %>

        </div>
      </div>
    </div>
<br><br>
  </div>

  <!--easy switching between courses-->
  <%= render "page/courses" %>
</div>
