<div class="container_wide" style='background: white;'>
    <div class="content">
    	<%= image_tag 'icancode_pink.jpg', style: 'width: 50%; margin: 0 auto; display: block; min-width: 400px;' %>
    </div>
</div>

<div class="page" style="padding: 71px 0; background: #3EA8D8;">

    <div class="container_wide">
      <% @courses.each do |course| %>
          <%= course.name %>
      <%end %>
  </div>

  <%= render "page/courses" %>
</div>
