<style>
    .col-25{
        width: 25%;
        float: left;
        padding: 24px;
        box-sizing: border-box;
    }

    h6{
    margin-bottom: 12px;
    }

    .item img{
        width: 100%;
        border-radius: 6px;
        }

    @media screen and (max-width: 1080px){
        .col-25{
        width: 100%;
        }
    }
</style>


    
    <img src="https://d14nx13ylsx7x8.cloudfront.net/comfy/cms/files/files/000/000/303/original/curriculum-banner-v2.jpg" style="width: 100%;" />
<div class="container_wide">
    <h2>Learn by Doing!</h2>
    <div class="item-container">
        <div class="item col-25">
            <h6>LEARN TO PROGRAM</h6>
            <img src="https://mvcodeclub.s3.amazonaws.com/comfy/cms/files/files/000/000/206/original/splash-insets_01-v2.jpg"/>
            <p>
                Get introduced to coding and computer science the fun way. Invent your own animations and video games using Scratch, a program developed by MIT that makes it easy for kids to learn code.
            </p>
        </div>

        <div class="item col-25">
            <h6>DEVELOP A GAME</h6>
            <img src="https://mvcodeclub.s3.amazonaws.com/comfy/cms/files/files/000/000/204/original/splash-insets_03-v2.jpg"/>
            <p>
            Make your own 3D video games. Start with Scratch to get familiar with variables, loops, and other coding tricks to code your own games. Advance to JavaScript, C#, then Unity to develop games like a pro.
            </p>

        </div>

        <div class="item col-25">
            <h6>MAKE A WEBSITE</h6>
            <img src="https://mvcodeclub.s3.amazonaws.com/comfy/cms/files/files/000/000/203/original/splash-insets_02-v2.jpg"/>
            <p>Develop your own websites. Start with Wix, an immersive and dynamic CMS. You'll make pages, manage plug-ins, and design layouts for a friendly user experience. Advance to HTML, CSS, and Javascript to start developing like a pro.
            </p>

        </div>

        <div class="item col-25">
            <h6>BUILD A ROBOT</h6>
            <img src="https://mvcodeclub.s3.amazonaws.com/comfy/cms/files/files/000/000/205/original/splash-insets_04-v2.jpg"/>
            <p>

            Enter the world of progamming through robotics. Become one with circuits, motherboards, and other hardware technologies. Learn how to build robots using Ardiuno and C.
            </p>

        </div>


</div>

 <!--easy switching between courses-->
  <%= render "page/courses" %>
  <br><br>
</div>
