<style>
a{font-size: 125%
}
</style>

<div class="lessonPage gameDesign"> <!--used for css rules -->
  <%= render "page/courseHeader", title: 'Workshops & Events', links: false, background_url: asset_url( 'summer_background.jpg') %>

  <div class="break"></div>

  <p style="margin: 0 auto; padding: 24px; display: block; text-align: center; font-size: 24px; font-weight: bold;">Want us to come to your school? <%= link_to "Contact us Here", "mailto:info@icancodeclub.com?subject=Request%20to%20Start%20a%20Coding%20Club%20at%20School" %></p>

  
  <div class="container_wide" id="beginner">
    <div class="content">
      <div class="colContainer">
        <div class="leftCol">
	<div style="width: 100%">
</div>
          <h5>Workshops and Special Events</h5>
        </div>
        <div class="rightCol">

          <div class="horizline"></div>
          <p>
          Workshops, Hackathons, Robotics Events, Tech Tours, Hack Sessions, Expert Series, and Special Events that are held at iCanCode’s center, libraries, and community events throughout the year.
	
  <br><a href="https://docs.google.com/forms/d/e/1FAIpQLSd8cA-Oa_p7nbt9TkwZtP7ijqbp5VFgervPen1IqaF1qXox_Q/viewform?c=0&w=1">Hackathon Registration</a>
  <br><%= link_to 'Other Events Registration', other_events_path %>

         </p>
        </div>
      </div>
    </div>
  </div>
  <!--easy switching between courses-->
  <%= render "page/courses" %>
</div>
