<div id="backgroundFull" style="background-image: url(' <%= asset_url 'background.jpg' %> ')">
</div>
<div id="backgroundCover">
  <div id="homeText" class="wow popUp">
    <div>
      <%= image_tag "logo_banner.png", class: "bannerHeader" %>
      <h3 class="" style="color: #ffffff;">After School Coding Club</h3>
<h3 class="" style="color: #ffffff;">Grades 3-10</h3>


      <div class="centerHorizontal veloPopUp" id="callButtons">
       
        <a href="#promos">
          <div class="homeButton home">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PROMOS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
        </a>
        <a href="#programs">
          <div class="homeButton home">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PROGRAMS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
        </a>

        <a href="#about">
          <div class="homeButton home">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ABOUT&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
        </a>
        <br>

        <a href="https://www.facebook.com/pg/iCanCodeClub/photos/?tab=albums">
          <div style="background: white; color: #53C6D9; width: 100px;" class="homeButton home">GALLERY</div>
        </a>
        <%= link_to events_path do %>
          <div style="background: white; color: #53C6D9; width: 100px;" class="homeButton home">EVENTS</div>
        <% end %>
        <br>

        <a href="mailto:info@icancodeclub.com?subject=Ask%20About%20a%20Free%20Trial">
          <div style="background: white; color: #53C6D9" class="homeButton home">FREE TRIAL</div>
        </a>
	

	<!-- <a href="http://goo.gl/forms/jvQiNVHBxi">
          <div style="background: white; color: #53C6D9" class="homeButton home">&nbsp;&nbsp;&nbsp;&nbsp;EVENTS&nbsp;&nbsp;&nbsp;&nbsp;</div>
        </a> -->


        <!--
        <%= link_to courses_overview_path do %>
            <div class="homeButton home">COURSES</div>
        <% end %>
        -->
      </div>
    </div>
  </div>
</div>

<hr class="thick">
<div class="greyWrapper" id="programs" style="background: #53C6D9;">
  <h1 style="margin-bottom: 86px;">Programs</h1>

  <%= render "page/courses" %>
</div>

<div class="wrapper" id="promos" style="margin-top: 0;  padding-top: 0;" id="about">
  <div class="container page" style="margin-top: 0;">
    <div class="content">
      <h4>PROMOS</h4>
      <div class="col-12 promos">
        <% if @contents.find_by_title('promos') != nil %>
        <%= @markdown.render(@contents.find_by_title('promos').body).html_safe %>
        <% end %>
      </div>
      <br>
      <br>
      <br>
      <br>
      <div style="text-align: center;">
        <a href="http://icancodeclub.com/courses_overview">
          <div style="font-size: 32px;" class="homeButton home">ENROLL IN CLASSES HERE</div>
        </a>
      </div>
    </div>
  </div>
</div>



<hr class="thick">

<div class="wrapper" id="about">
  <div class="container_wide page">
    <h4>LEARN TO CODE</h4>
    <br>
    <br>
        <div class="row">
          <div class="col-5">
            <div class="content">
              <h2>iCanCode Mission</h2>
              <p>
                iCanCode’s mission is to jump-start lower and middle school kids digital literacy and afford our youth in the Rochester community the opportunity to unlock their tech future and learn about computing in a fun digital sandbox.
              </p>


              <h2 style="background-color: #8DE018;">iCanCode Story</h2>
              <p>
                In 2013, my 1st grade son asked me to teach him how to make a game. A few  hours later, he created his first game “Cupcake Eating Gorilla” and became my inspiration to provide younger kids in the Rochester community a fun environment to learn how to code. All technology is governed by code and is the soul of every electronic device our kids interact with, now, not only can they play  games and install apps, they can also learn how to code and make their own!
              </p>
              <h2 style="background: #f271b6;">About the Program</h2>
              <p>
                iCanCode is an after-school community hub for lower and middle school kids Grades 3-10 where they can participate in various computer science based activities using fun aspects of programming and technology tools.  Our curriculum is designed to help students unlock their inner Tech Whiz and develop logical thinking and problem solving skills that last a lifetime                <style>
                  .templinkcolor a{
                      text-decoration: underline;
                      color:#f271b6 !important;
                  }
                .templinkcolor a:visited{
                    color:#f271b6 !important;
                }
                </style>
                <span class="templinkcolor"><%= link_to 'Learn more about our Program Offerings.', courses_overview_path %></span></p>
              </p>

            </div>
          </div>
          <div class="col-5 nomobile wow fadeIn">
            <div class="content">
              <div class="code">
          <pre>
<code class="language-markup" id="editor">
&lt;h1&gt;
    Learn How to Write Code
&lt;/h1&gt;
&lt;div class="wrapper"&gt;
    &lt;p&gt;
        Coding isn't that hard, even kids can learn!
    &lt;/p&gt;
    &lt;div class="row"&gt;
        &lt;h1&gt;
            Kids can Code too!
        &lt;/h1&gt;
        &lt;p&gt;
            It might look challenging,
            but broken down, it's pretty simple.
        &lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code>
          </pre>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>







</div>
