<div class="lessonPage gameDesign"> <!--used for css rules -->
  <div class="break"></div>
  <div class="container_wide">
    <div class="content">
      <h4>iCanCode Club Camps @ the Jewish Community Center of Rochester</h4>
      <p> 1200 Edgewood Avenue, Rochester NY, 14618 </p>
      <p>
        Grades 3 - 10.  Play, swim, and learn cool 21st-century programming skills 
        and enjoy a great tech experience combined with indoor and outdoor activities.
      </p>
      <p>
        • Interactive Stories and Animations<br>
        • Game Design<br>
        • Javascript<br>
        • Unity<br>
        • Minecraft Modding<br>
        • Web Development<br>
        • Vex Robotics
      </p>
      <p><a style="font-weight: bold;" href="http://jccrochester.org/programs-services/registration/register-online">Click Here to Register</a></p>
    </div>
<br><br><br>
  </div>
</div>
