<div class="lessonPage gameDesign"> <!--used for css rules -->
  <%= render "page/courseHeader", title: 'Summer Code Clubs', links: false, background_url: asset_url( 'summer_background.jpg') %>

  <div class="break"></div>
  <div class="container_wide" id="beginner">
    <div class="content">
      <div class="colContainer">
        <div class="leftCol">
	<div style="width: 100%">
</div>
          <h5>Description</h5>
        </div>
        <div class="rightCol">

          <div class="horizline"></div>
          <p>
            &#8226; Starting Summer 2016<br>
            Full day programs: <a href="https://icancodeclub.mvcodeclub.com/semesters/school-closure-camps-rochester">Click here for available schedules and pricing</a><br>
        </div>
      </div>
    </div>
	<img src="http://i.imgur.com/LOrpB7m.png" style="display: block; margin: 0 auto; max-width: 600px"/>
	<img src="http://i.imgur.com/tjVVNtB.png" style="display: block; margin: 0 auto; max-width: 600px"/>
<br><br><br>
  </div>


 <!--easy switching between courses-->
  <%= render "page/courses" %>
</div>
