<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

<script>
  function init(){
      var simplemde = new SimpleMDE({ element: document.getElementById("editor") });
  }

    window.onload = init;

</script>

<div class="container">


    <%= form_for(Image.new, multipart: true, remote: true) do |f| %>
        <%= f.file_field :file %>
        <%= f.submit %>
    <% end %>

    <input id="image_url" placeholder="image url will appear here after uploading" />
  </br></br></br>


    <%= form_for(@news, id: 'image_form') do |f| %>

      <div class="form-inputs">
        <%= f.text_field :title, placeholder: 'title' %>
        <%= f.text_area :body,  id: 'editor', rows: 10  %>
      </div>

      <div class="form-actions">
        <%= f.button :submit %>
      </div>
    <% end %>
</div>