

<div class="container">
    <% @news.each do |news| %>
      <article class="newsItem">
        <%#= link_to news_path(news) do %>
            <h3>
              <%= news.title %>
            </h3>
        <%# end %>
        <div>
          <p>
            <%= @markdown.render(news.body).html_safe %>
          </p>
        </div>
        <% if user_is_admin? %>
            <%= link_to 'Edit', edit_news_path(news) %>
        <% end %>
      </article>
    <% end %>
</div>

<%= link_to 'New News', new_news_path if user_is_admin? %>
