<!--TODO: add notice for incorrect password-->

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <article>
      <div class="login-form">
        <div class="content">
          <div id="lessonWrapper">
            <div class="col-10 lesson" id="program-c">
              <h1>Log In</h1>
              <hr>

              <div class="break"></div>

              <div class="row form">
                <%= f.text_field :login, placeholder: "Login Name", autofocus: true %>
              </div>

              <div class="row form">
                <%= f.password_field :password, placeholder: "Password", autocomplete: "off" %>
              </div>

              <div class="break"></div>

              <%= f.submit class: "button center", value: "Log In" %>

              <div class="break"></div>
              <hr>
              <div class="break"></div>

              <%= render "devise/shared/links" %>


            </div>
          </div>
        </div>
      </div>
    </article>
<% end %>
