<%= stylesheet_link_tag "completetag.css" %>
<%= javascript_include_tag "completetag.js" %>


<div class="colContainer fullHeight" id="completetag">
  <div class="colResponsive fullHeight" id="tagcompletewrapper">
    <!-- place where cards go -->
    <div id="tagcomplete">

      <div class="row tcfirst">
        <div class="col-2 tca tcinput">a
        </div>
        <div class="col-6 tcb tcinput">a
        </div>
        <div class="col-2 tcc tcinput">a
        </div>
      </div>

      <div class="row tcsecond">
        <div class="col-2 tca tcinput">a
        </div>
        <div class="col-6 tcb tcinput">a
        </div>
        <div class="col-2 tcc tcinput">a
        </div>
      </div>

    </div>
  </div>
  <div style="width: 550px; background: #78cc17;" class="colResponsiveSet fullHeight" id="tagcompletehelp">
    <!-- help goes here -->
    <div class="row">
      <div class="content">
        <div class="break"></div>
        <div class="break"></div>
        <h1>Loading...</h1>
      </div>
    </div>
  </div>
</div>
