<div class="colContainer fullHeight">
  <div class="leftCol fullHeight" id="ddlaunchpad">
    <div style="width: 350px;"></div>

    <div class="ddelement draggable" id="ddhtml" style="width: 350px;">
      <h1>&lt;html&gt;</h1>
        <div class="ddinside" style="height: 300px;">
          <div id="ddheadinside" style="height: 100px;">
          </div>
          <div id="ddbodyinside" style="height: 200px;">
          </div>
        </div>
      <h1>&lt;/html&gt;</h1>
    </div>

    <div class="ddelement draggable ddhtmlchildren" id="ddhead">
      <h1>&lt;head&gt;</h1>
      <h1>&lt;/head&gt;</h1>
    </div>

    <div class="ddelement draggable ddhtmlchildren" id="ddbody">
      <h1>&lt;body&gt;</h1>
        <div class="ddinside">
        </div>
      <h1>&lt;/body&gt;</h1>
    </div>

    <div class="ddelement draggable" id="ddcontent" style="width: 250px;">
      <h1>content</h1>
    </div>

  </div>
  <div class="rightCol fullHeight" id="dddroppad">
    <div id="ddaccept">
    </div>
  </div>
</div>
