<%= stylesheet_link_tag "editor.css" %>
<!-- including ace -->
<%= javascript_include_tag "ace/ace.js" %>

<%= javascript_include_tag "editor.js" %>

<div class="colContainer fullHeightTrue">
  <div class="fullHeightTrue" style="width: 100%;">
    <div id="topbar">
      <div class="ui-button" id="downloadButton">
        Download
      </div>
    </div>
    <div id="editor"></div>
  </div>
  <div class="resize reset" id="htmlview">
  </div>

  <div id="dialogDownload" class="dialog">
    <h2>Download File</h2>
    <hr class="hrheading"></hr>
    <%= form_tag('download') do %>
      <input name="filedata" type="hidden" id="htmlcontent"/>
      <%= text_field_tag "downloadName", nil, placeholder: 'File Name' %>
      <%= submit_tag ("done") %>
    <% end %>
  </div>
</div>
