<table style="width: 100%;">
  <tr>
    <td>
      Name:
    </td>
    <td>
      <%= @message.name %>
    </td>
  </tr>
  <tr>
    <td>
      Email:
    </td>
    <td>
      <%= @message.email %>
    </td>
  </tr>
  <tr>
    <td>
      Phone:
    </td>
    <td>
      <%= @message.phone_number %>
    </td>
  </tr>
  <% if @message.referral %>
      <tr>
        <td>
          Referred By:
        </td>
        <td>
          <%= @message.referral %>
        </td>
      </tr>
  <% end %>
</table>
<br>
<br>
<br>
<%= @message.content %>