<div style="width: 100%; max-width: 700px; margin: 0 auto;">
  Hi there, <%= @message.name %>! We got your email on <%= Time.now.strftime("%A, %B %d at %I:%M %p") %>, and we'll be in touch shortly. Here's a copy of what you sent us.<br><br><br>
  <%= render 'message' %>
</div>