<fieldset>
  <div class='dtparent'>
    <div class="dangerText remove_fields">
      Delete
    </div>
  </div>

  <div class="field fourth">
    <%= f.label :weekday %>
    <%= f.collection_select(:weekday_id, Weekday.all, :id, :day, class: 'input') %>
  </div>
  <div class="field fourth">
    <%= f.label :start_time %>
    <%= f.select(:start_time, Classtime::TIMES) %>
  </div>
  <div class="field fourth">
    <%= f.label :end_time %>
    <%= f.select(:end_time, Classtime::TIMES) %>
  </div>
  <div class="field fourth">
    <%= f.label :year %>
    <%= f.select(:year, Course::YEARS) %>
  </div>
  <%= f.hidden_field :_destroy %>

</fieldset>