<%= form_for(@course) do |f| %>
    <% if @course.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>
          <ul>
            <% @course.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="formContainer">
      <div class="field half">
        <%= f.label :name %><br>
        <%= f.text_field :name, class: 'input' %>
      </div>
      <div class="field half">
        <%= f.label :code %><br>
        <%= f.text_field :code, class: 'input' %>
      </div>
      <div class="field">
        <%= f.label :description %><br>
        <%= f.text_area :description, class: 'input' %>
      </div>
      <div class="field half">
        <%= f.label :duration %><br>
        <%= f.number_field :duration, class: 'input', min: 1, max: 50 %>
      </div>
      <div class="field half">
        <%= f.label :price %><br>
        <%= f.number_field :price, class: 'input', :step => '0.01' %>
      </div>
      <div class="field">
        <%= f.label :course_type %><br>
        <%= f.collection_select(:course_type_id, CourseType.all, :id, :name, class: 'input') %>
      </div>

      <%= f.fields_for :classtimes do |builder| %>
          <%= render 'classtime_fields', f: builder %>
      <% end %>

      <%= link_to_add_fields('Add Classtime', f, :classtimes) %>


    </div>

    <%= f.submit class: "button center formSub sm" %>


<% end %>
