<section>
  <div class="container">
    <div class="row">
      <h2>Edit Course</h2>
      <hr class="hrheading">
    </div>

    <%= render 'form' %>

    <%= link_to 'Back', courses_path, class: 'actionButton danger sm' %>
    <%= link_to 'Show', @course, class: 'actionButton warning sm', :target => '_blank' %>
  </div>
</section>