<%- headers = ['Name', 'Code', 'Duration (weeks)', 'Type'] -%>
<%= CSV.generate_line(headers).strip%>

<%- @courses.each do |course| -%>s
    <%- row = [ course.name, course.code, course.duration, course.course_type.name ] -%>
    <%= CSV.generate_line(row).html_safe.strip%>
<%- end -%>
