<section>
  <div class="container">

    <div class="row">
      <h2>Courses</h2>
      <hr class="hrheading">
    </div>

    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Duration</th>
        <th>Type</th>
        <th>Price</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @courses.each do |course| %>
          <tr>
            <td>
              <%= link_to course do %>
                  <%= course.name %>
              <% end %>
            </td>
            <td><%= course.duration ? "#{course.duration} week#{course.duration > 1 ? "s" : nil}" : nil %></td>
            <td><%= course.course_type.name %></td>
          <td><%= humanized_money_with_symbol course.price %></td>
          <td>
            <%= link_to course do %>
                <div class="actionButton warning sm cen">
                  View
                </div>
            <% end %>
            <% if user_is_admin? %>
                <%= link_to edit_course_path(course) do %>
                    <div class="actionButton warning sm cen">
                      Edit
                    </div>
                <% end %>
                <%= link_to course, method: :delete, data: {confirm: 'Are you sure?'} do %>
                    <div class="actionButton danger sm">
                      Delete
                    </div>
                <% end %>
            <% end %>
          </td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <br>

    <% if user_is_admin? %>

        <%= link_to 'Download', courses_path(:action => :index, :format => :csv), class: 'actionButton warning sm' %>
        <%= link_to 'New Course', new_course_path, class: 'actionButton warning sm' %>

    <% end %>

  </div>
</section>