<div class="container">
  <section><div class="row">
    <h2>New Course</h2>
    <hr class="hrheading">
  </div>

  <%= render 'form' %>

  <%= link_to 'Back', courses_path, class: 'actionButton danger sm' %></section>
</div>