<div class="container">
  <section>
    <table>
      <caption><%= @course.name %> Information</caption>
      <tr>
        <td>Name
        <td><%= @course.name %></td>
      </tr>
      <tr>
        <td>Code</td>
        <td><%= @course.code %></td>
      </tr>
      <tr>
        <td>Description</td>
        <td><%= @course.description %></td>
      </tr>
      <% if @course.duration %>
          <tr>
            <td>Duration</td>
            <td><%= "#{@course.duration} week#{@course.duration > 1 ? "s" : nil}" %></td>
          </tr>
      <% end %>
      <tr>
        <td>Type</td>
        <td><%= @course.course_type.name %></td>
      </tr>
      <tr>
        <td>Price</td>
        <td><%= humanized_money_with_symbol @course.price %></td>
      </tr>
    </table>


    <% if @course.classtimes.count > 0 %>
        <table>
          <caption>Course Times</caption>
          <% @course.classtimes.each do |classtime| %>
              <tr>
                <td><%= classtime.weekday.day %></td>
                <!--TODO: sort by classtime year, hide times before current year-->
                <td><%= "#{classtime.start_time}" %> <%= classtime.end_time ? "- #{classtime.end_time}" : nil %><%=", #{classtime.year}"%> </td>
              </tr>
          <% end %>
        </table>
    <% end %>

    <div class="break"></div>

    <%= link_to 'Back', courses_path, class: 'actionButton warning sm' %>
    <% if user_is_admin? %>
        <%= ("#{(link_to 'Edit', edit_course_path(@course), class: 'actionButton warning sm')} ").html_safe %>
    <% end %>

  </section>
</div>