/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require 0reset.css
 *= require header.css
 *= require prism.css
 *= require structure.css
 *= require jquery-ui
 *= require themes.css
 *= require forms.css
 *= require news.css
 *= require font-awesome
 *= require simplemde.min.css
 */

.mobile-only{
	max-width: 300px;
	margin: 0 auto;
	
}
