#tagcomplete{
  max-width: 500px;
  margin: 0 auto;
  background: #78cc17;
  color: white;
}

.tcinput,.tcinput input{
  font-size: 32px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.tcinput input{
padding: 12px 0;
}

.tcinput input:disabled{
  background: #cfedaa;
}

.tcfirst,.tcsecond{
  padding: 18px;
  box-sizing: border-box;
}
input{
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
}

#completetag{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

#completetag h1{
  font-size: 48px;
  text-align: left;
}
