header {
    display: none;
}

#editor {
    position: relative;
    height: 100%;
    width: 100%;
}

#topbar {
    width: 100%;
    background: white;
    padding: 12px;
    border-bottom: 2px solid #3ea8d8;
    overflow: hidden;
    box-sizing: border-box;
}

#htmlview {
    z-index: 100;
    width: 500px;
    height: 350px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: #f7f7f7;
    border-radius: 6px;
    border: 6px lightgrey solid;
    overflow-y: scroll;
}

.editorButton {
    background: grey;
    border-radius: 6px;
    display: inline-block
}

input[type=submit], .ui-button {
    border: none;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    background: #3ea8d8;
    border-radius: 6px;
    padding: 6px 12px;
    color: #fcfcfc;
    font-size: 14px;
    cursor: pointer;
    float: right;
}

input[type=text] {
    border: 2px solid lightgrey;
    color: grey;
    border-radius: 6px;
    padding: 6px 12px;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    box-sizing: border-box;
}

.dialog h2 {
    padding: 6px 0;
    font-size: 18px;
    font-weight: 400;
}

.dialog .hrheading {
    margin-top: 0;
    height: 4px;
    margin-bottom: 24px;
}

input {
    margin: 6px 0px;
}

.dialog {
    z-index: 9000;
    background: #fcfcfc;
    min-width: 150px;
    position: fixed;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 24px;
    border: 2px lightgrey solid;
    display: none;
}

.reset * {
    color: inherit;
    background: inherit;
    padding: 0;
    margin: 0;
    text-align: inherit;
    text-transform: inherit;
    font-family: inherit;
}

.reset em{
    font-style: italic;
}

.reset h1, .reset h2, .reset h3, .reset h4, .reset h5, .reset h6 {
    font: normal;
    font-family: inherit;
    font-size: medium;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
}

.reset h1 {
    font-size: 4em;
}

.reset h2 {
    font-size: 2.0em;
}

.reset h3 {
    font-size: 1.8em;
}

.reset h4 {
    font-size: 1.6em;
}

.reset h5 {
    font-size: 1.4em;
}

.reset p {
    font-size: 1.2em;
}
