input, textarea, select {
    width: 100%;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    outline: none !important;
}

fieldset {
    border-top: #d3d3d3 1px solid;
    margin: 16px 0;

    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

fieldset.danger {
    border-color: #ea5d2e;
}

fieldset.danger label{
    color: #ea5d2e;
}

fieldset.blur .dangerText{
    color: #d3d3d3;
}

fieldset.danger .dangerText{
    background: #ea5d2e;
    color: #f7f7f7;
}

fieldset.danger{
    background: -moz-linear-gradient(top, rgba(250,218,208,1) 0%, rgba(250,218,208,0.3) 23%, rgba(250,218,208,0) 33%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250,218,208,1)), color-stop(23%,rgba(250,218,208,0.3)), color-stop(33%,rgba(250,218,208,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(250,218,208,1) 0%,rgba(250,218,208,0.3) 23%,rgba(250,218,208,0) 33%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(250,218,208,1) 0%,rgba(250,218,208,0.3) 23%,rgba(250,218,208,0) 33%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(250,218,208,1) 0%,rgba(250,218,208,0.3) 23%,rgba(250,218,208,0) 33%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(250,218,208,1) 0%,rgba(250,218,208,0.3) 23%,rgba(250,218,208,0) 33%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fadad0', endColorstr='#00fadad0',GradientType=0 ); /* IE6-9 */
}



textarea{
    height: 100px;
    resize: vertical;
}

select{
    background: #f7f7f7;
}

.formSub{
    display: inline-block;
    width: auto;
    margin: 24px 0;
    margin-left: auto;
}

input[type=text], input[type=number], textarea, select, input[type=tel], input[type=email] { /*default styles */
    border-color: #d3d3d3;
    border-width: 1px;
    border-style: solid;
    border-radius: 0;
    background: #f7f7f7;
    font-family: 'Varela Round', sans-serif;    font-weight: 300;
    font-size: 16px;
}

label{
    font-family: 'Varela Round', sans-serif;    font-weight: 300;
    white-space: nowrap;
    margin-top: 12px;
    padding: 8px 8px;
    width: auto;
    color: #53C6D9;

    position: relative;
    top: 1px;
    z-index: 5;

    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    transition: all 0.15s ease;

    cursor: pointer;
}

label.active{
    color: white;
    background: #53C6D9;
    display: inline-block;
}

input[type=text], input[type=number], textarea, select, input[type=tel], input[type=email]{ /* specify specific padding */
    padding: 8px 12px;
}

input:focus, textarea:focus{ /*focusing border color*/
    border-color: #53C6D9;
}

.formContainer{
    overflow: hidden;
}

.formContainer .field {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0 6px;
}


.formContainer .field.half{
    float: left;
    width: 50%;
}

.formContainer .field.third{
    float: left;
    width: 33.33%;
}

.formContainer .field.fourth{
    float: left;
    width: 25%;
}

.dtparent{
    text-align: right;
}

.dangerText{
    color: #ea5d2e;
    cursor: pointer;
    font-family: 'Varela Round', sans-serif;
    font-weight: 300;
    text-align: right;
    display: inline-block;
    padding: 8px;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


