/* temp banner */
@media (max-width: 850px){
#image-banner{
	display: none
}
}

/* universal styles */
#notice{
    background: #D7EDF7;
    color: #53C6D9;
    display: block;
    max-width: 900px;
    margin: 0 auto;
    padding: 16px 32px;
    margin-top: 32px;
    border: 1px #53C6D9 solid;
}

header {
    height: 60px;
    /*  background: #37AACD;
      position: fixed;*/
    width: 100%;
    background: #f7f7f7;
    border-bottom: 2px solid lightgrey /*#37AACD*/;
    z-index: 1000000;
    position: fixed;
}


.login-form{
    margin: 0 auto;
    max-width: 450px;
}

.bannerHeader{
    display: block;
    margin: 0 auto;
    height: 150px;
}

article{
    margin: 100px 0;
}

.login-form a, .formContainer a{
    color: #53C6D9;
    font-family: 'Varela Round', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.7;
}

table {
    width: 100%;
    margin-top: 48px;
}

section{
    margin: 72px 0;
}

table, td, th {
    font-family: 'Varela Round', sans-serif;
    font-weight: 300;
    font-size: 18px;
    border: 1px lightgray solid;
    padding: 12px;
}

table tr:nth-child(even){
    background: #e6eef2;
}

table tr td:first-child{
    font-weight: 400;
    color: #53C6D9;
}

caption {
    font-family: 'Varela Round', sans-serif;
    font-weight: 400;
    font-size: 28px;
    padding: 12px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    /*border: 1px #53C6D9 solid;
    border-bottom: none;*/
    text-align: left;
    color: #53C6D9;
}

.nav2 {
    display: none;
}

.wow {
    opacity: 0;
}

.colContainer {
    overflow: hidden;
}

#logoContainer {
    display: inline-block;
    /*fix this*/
    padding-bottom: 10px;
}

#logoContainer img {
    margin-top: 6px;
    margin-left: 30px;
    margin-right: 30px;
    float: left;
}

.greyWrapper {
    background: #f2f2f2;
    padding: 72px 0;
}

body {
    background: #f2f2f2;
}

nav {
    color: #f7f7f7;
    width: 100%;
    float: left;
    text-align: right;
}

nav .navContainer {
    max-width: 1200px;
    margin: 0 auto;
}

nav #logo {
    vertical-align: middle;
    position: absolute;
    top: 12px;
    left: 24px;
}

a{
    color:#53c6d9;
}

#absohead{
    position: absolute;
    top: 10px;
    left: 182px;
    margin:0;
    line-height: 1.2;
    font-size: 11px;
    text-align: left;

    color:#53C6D9;
}

nav .navLeft {
    display: inline-block;
    margin: 0 20px;
}

#navLogin {
    float: right;
    background: white;
    padding: 8px;
}

.visible {
    display: block !important;
}

nav div a {
    text-decoration: none;
    color: #53C6D9;
    font-size: 18px;
    font-family: 'Sniglet', cursive;
    font-weight: 400;
}

nav div a:hover {
    color: #78C6DD;
}

#backgroundFull {
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 800px;
    margin-bottom: -300px;
    position: absolute;
    z-index: -1010;

}

.fbg{
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

}

/*makes background darker so text is readable*/
#backgroundCover {
    width: 100%;
    /*background: rgba(0, 0, 0, 0.7);*/
    /*background: #53C6D9; */
    top: 0;
    z-index: -1000

}

.wrapper {
    /*padding: 96px 0;*/
    background: #f2f2f2;
}

.circle {
    border-radius: 100%;
    /*border: 2px solid #54C7DB;*/
}

h1 {
    font-size: 120px;
    color: #f7f7f7;
    /*font-family: 'Varela Round', sans-serif;*/
    font-family: 'Sniglet', cursive;
    font-weight: 300;
    text-align: center;
    margin-bottom: 10px;
    /*text-transform: uppercase;*/

}

td a{
    color: inherit;
}

h3 {
    /*font-family: 'Varela Round', sans-serif;*/
    font-family: 'Sniglet', cursive;
    font-weight: 200;
    text-align: center;
    color: #f7f7f7;
    font-size: 36px;
}

h4 {
    font-size: 72px;
    color: #53C6D9;
    /*
    font-family: 'Varela Round', sans-serif;
    */
    font-family: 'Sniglet', cursive;
    font-weight: 300;
    text-align: center;
    padding: 32px 0;
    padding-top: 0;
    text-transform: uppercase;
}

h5 {
    font-size: 24px;
    /*font-family: 'Varela Round', sans-serif;*/
    font-family: 'Sniglet', cursive;
    font-weight: 200;
    border: 1px solid;
    padding: 8px;
    text-transform: uppercase;
    display: inline-block;
    width: 200px;
    text-align: center;
}

h2 {
    font-size: 42px;
    background: #53C6D9;
    color: white;
    /*font-family: 'Varela Round', sans-serif;*/
    font-family: 'Sniglet', cursive;
    font-weight: 300;
    text-align: left;
    margin-top: 32px;
    margin-bottom: 16px;
    padding: 12px 32px;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 8px;
}

/*
{
    font-size: 42px;
    color: #53C6D9;
    /!*font-family: 'Varela Round', sans-serif;*!/
    font-family: 'Sniglet', cursive;
    font-weight: 300;
    text-align: left;
    padding: 32px 0;
    text-transform: uppercase;
}*/

h6 {
    font-size: 24px;
    color: #53C6D9;
    font-family: 'Varela Round', sans-serif;
    font-weight: 300;
    text-align: left;
    padding: 16px 0;
    padding-bottom:0;
    text-transform: uppercase;
}

hr {
    width: 1%;
    display: block;
    height: 1px;
    margin: 0;
    border-width: 0;
    background-color: lightgrey /*#53C6D9*/;
}

a {
    text-decoration: none;
}

hr.thick {
    height: 5px;
}

.hrheading {
    max-width: 40%;
    height: 5px;
    margin-top: -24px;
    text-align: left;
    background-color: #53C6D9;
}

.hrheadingfull {
    max-width: 100%;
    height: 5px;
    margin-top: -24px;
    text-align: left;
    background-color: #53C6D9;
}

#homeText {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.centerHorizontal {
    text-align: center;
    margin-top: 72px;
}

.homeButton.home {
    display: inline-block;

    font-family: 'Varela Round', sans-serif;
    font-weight: 300;
    font-size: 20px;
    padding: 12px 20px;
    margin: 2px 0;
    border-radius: 6px;

    background: #53C6D9;
    color: white;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.homeButton.home:hover {
    border: solid 1px #53C6D9;
    color: #53C6D9;

    cursor: pointer;
}

.homeButton {
    display: inline-block;
    border: solid 1px #f7f7f7;
    color: #f7f7f7;
    font-family: 'Varela Round', sans-serif;
    font-weight: 300;
    font-size: 20px;
    padding: 12px 20px;
    margin: 2px 0;
    border-radius: 6px;
}

.homeButton:hover {
    background: #f7f7f7;
    color: #1A1A1A;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

p {
    font-family: 'Varela Round', sans-serif;
    /*font-family: 'Varela Round', sans-serif;*/
    font-weight: 300;
    text-align: justify;
    line-height: 2;
    margin-top: 16px;
    margin-bottom: 32px;
}

.compact h6{
    margin-top: 5px;
    margin-bottom: 6px;
}

.compact p{
    margin: 0 0;
}

p.big {
    font-size: 18px;
    font-weight: 300;
    line-height: 2;
    color: #5e5e5e;
    text-align: center;
}

.backgroundImage {
    height: 500px;
    /*background: url('background.jpg') no-repeat center center;*/
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    z-index: -1010;
    position: absolute;
}

.break {
    height: 24px;
}

.backgroundImageAfter {
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.fullwidth {
    width: 100%;
}

.courseHeader {
    padding: 100px 0;
}

pre {
    background: #eff3f4;
}

.lesson {
    /*border: solid 1px #b5b5b5;
    border-bottom: none;*/
    min-height: 300px;
    border-radius: 6px;
    padding: 42px 16px;
    padding-top: 0;
    box-sizing: border-box;
    /*background: rgba(255,255,255,
    0.4);*/
}

#lessonWrapper {
    background: #f7f7f7;
    width: 100%;
    overflow: hidden;
    border-radius: 6px;
    border: #dbdbdb solid 1px;
}

.lesson p {
    color: #757575;
    padding: 24px;
    /*padding-top: 0;*/
    text-align: center;
    font-weight: 300;
    margin: 0;
}

.lesson img {
    display: block;
    margin: 18px auto;
}

.lesson hr {
    background: #dbdbdb;
}

#program-a {

}

#program-b {

}

#program-c {

}

.lesson h1 {
    font-size: 24px;
    font-weight: 300;
    padding: 24px 0;
    margin: 0;
}

.lesson .button, input.button {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Varela Round', sans-serif;
    font-weight: 300;
}

.lesson .button div, input.button {
    display: inline-block;
    padding: 12px 48px;
    margin-top: 12px;
    border-radius: 8px;
}

.button div, input.button {
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

input.button{
    font-size: 16px;
}

.app {
    width: 100%;
}

.ddelement {
    background: #f7f7f7;
    width: 300px;
    border-radius: 8px;
    border: #53C6D9 solid 1px;
    cursor: pointer;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ddelement:active {
    cursor: move;
}

.ddelement h1 {
    font-size: 24px;
    font-weight: 300;
    color: #53C6D9;
    padding: 8px 0;
    text-transform: lowercase;
}

.ddelement .ddinside {
    border-top: #53C6D9 solid 1px;
    border-bottom: #53C6D9 solid 1px;
    height: 75px;
    background: #f7f7f7;
}

#ddaccept {
    border: solid 1px #53C6D9;
    width: 400px;
    height: 500px;
    float: left;
}

#phone {
    display: block;
    width: 100%;
}

footer {
    min-height: 200px;
    padding: 48px 0;
    background: #f7f7f7;
}

#cr {
    padding: 12px;
    color: #1A1A1A;
    font-family: 'Varela Round', sans-serif;
    font-weight: 300;
}

footer h1 {
    text-align: left;
    font-size: 24px;
    color: #53C6D9;
}

footer hr {
    background: #53C6D9;
}

footer p {
    color: #1A1A1A;
    margin: 0;
    margin-top: 24px;
    font-size: 14px;
}

.leftCol, .rightCol, .colResponsive, .colResponsiveSet {
    float: left;
}

.rightCol p {
    padding: 32px;
}

.col-1 {
    width: 10%;
}

.col-2 {
    width: 20%;
}

.col-3 {
    width: 30%;
}

.col-4 {
    width: 40%;
}

.col-5 {
    width: 50%;
}

.col-6 {
    width: 60%;
}

.col-7 {
    width: 70%;
}

.col-8 {
    width: 80%;
}

.col-9 {
    width: 90%;
}

.col-10 {
    width: 100%;
}

.col-third {
    width: 33.333%;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-third {
    float: left;
    min-height: 1px;
}

.content {
    margin-left: 24px;
    margin-right: 24px;
}

.row {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.rowbig {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.fullrow {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.textCenter {
    text-align: center;
}

.negative{
    background: #53C6D9;
    padding: 0 24px;
    box-sizing: border-box;
}

.negative h1,.negative h2,.negative h3,.negative h4,.negative h5,.negative h6,.negative p,.negative hr,.negative a{
    color: white;
    border-color: white;
}

.negative a{
    text-decoration: underline;
}

/*form styles*/
label {
    font-family: 'Varela Round', sans-serif;
    font-weight: 300;
    color: #1A1A1A;
    display: inline-block;
    width: 10%;
    text-align: left;
}

.form {
    margin: 8px 0;
}

input[type=text], input[type=email], input[type=password] {
    border-radius: 6px;
    padding: 4px 8px;
    box-sizing: border-box;
    border: lightgray 1px solid;
    width: 100%;
    font-size: 16px;
}

.center{
    margin: 0 auto;
    display: block !important;
}

#homeCircle{
    border-radius: 100%;
    width: 800px;
    height: 800px;
    position: absolute;
    background: white;
    z-index: 0;
}

.promos img{
    display: block;
    width: 100%;
}

.promos p{
    text-align: left;
    font-size: 24px;
}



@media (max-height: 900px) {
    #backgroundFull{
        background-attachment: scroll;
    }
    #homeCircle{
        width: 500px;
        height: 500px;
    }
    .nomobile {
        display: none;
    }
	body .mobile-only{
	display: block;
	}
    h3 {
        font-size: 24px;
    }
}

@media (max-width: 1400px) {

    #callButtons{
        margin-top: 24px;
    }
    h1 {
        font-size: 72px;
    }

    h2{
        font-size: 32px;
    }

    h4 {
        font-size: 56px;
        padding: 0;
    }

    h3 {
        font-size: 20px;
    }

    .wrapper {
        padding: 42px 0;
    }


}

@media (max-width: 1000px) {
    .bannerHeader{
        height: 80px;
    }
    #homeCircle{
        width: 500px;
        height: 500px;
    }
	h3{
font-size: 18px;
}
}

@media (max-width: 780px) {
    h1 {
        font-size: 52px;
    }
    h2{
        font-size: 24px;
    }

    .nomobile {
        display: none;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 42px;
        padding: 0;
    }

    .homeButton {
        font-size: 18px;
    }

    .col-third, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10 {
        width: 100%;
    }

    .lesson h1 {
        border-top: #dbdbdb solid 1px;
    }

    .lesson:first-child h1 {
        border-top: none;
    }


    .lessonPage .rightCol {
        clear: both;
        width: 100% !important;
    }

    .lessonPage h5 {
        border-bottom: none;
    }

    .lessonPage p {
        margin-top: 8px;
        margin-bottom: 24px;
    }


    .nav1 {
        display: none;
    }

    .nav2 {
        display: block;
        color: #53C6D9;
        font-family: 'Varela Round', sans-serif;
        text-align: center;
        width: 150px;
        float: right;
        font-size: 18px;
    }

    .floatmenu {
        position: absolute;
        right: 0;
        width: 150px;
        text-align: left;
        line-height: 3;
        background: #f7f7f7;
        padding: 8px;
        top: 60px;
        display: none;
        z-index: 100;
    }

    .hotdog {
        cursor: pointer;
    }
    code{
        font-size:13px;
    }

}

@media (max-width: 1000px){

.nav1 {
  display: none;
}
.nav2 {
display: block;
color: #53C6D9;
font-family: 'Varela Round', sans-serif;
text-align: center;
width: 150px;
float: right;
font-size: 18px;
}

.floatmenu{
position: absolute;
right: 0;
width: 150px;
text-align: left;
line-height: 3;
background: #f7f7f7;
padding: 8px;
top: 60px;
display: none;
z-index: 100;
}

.hotdog{
cursor: pointer;
}
}


@media (max-width: 500px) {
    h1 {
        font-size: 36px;
    }

    #homeCircle{
        width: 360px;
        height: 360px;
    }


    .lessonPage .leftCol {
        width: 100% !important;
    }

    .lessonPage h5 {
        width: 100% !important;
        box-sizing: border-box;
    }

    .floatmenu {
        width: 100%;
    }

    .navLeft {
        display: block;
        width: 100%;
        margin: 0 !important;
        padding: 0;
        text-align: center;
    }
    code{
        font-size:12px;
    }
}
