.newsItem{
    background: white;
    padding: 24px;
}

.newsItem h1, .newsItem h2, .newsItem h3, .newsItem h4, .newsItem h5, .newsItem h6{
    color: #3ea8d8 !important;
}

.newsItem img{
    width: 100%;
}