/*file for web structure - like column classes, etc.*/
.container{
  max-width: 900px;
  width: 100%;
  margin: 0 auto;

}

.container_wide{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

.page{
    background: white;
    padding: 96px 0;
    margin-top: 62px;
    margin-bottom: 62px;
}

.inline{
  display: inline-block;
}
