



.programming div.themeColor{
     background: #F271B6;
}

.webDesign div.themeColor{
    background: #8fd12e;
}

.gameDesign div.themeColor{
    background: #3ea8d8;
}

.lessonPage h2{
    color: #f3f3f3;
    text-align: center;
}

.lessonPage{
    padding-bottom: 48px;
}

.otherCourses{
    padding-bottom: 48px;
    text-align: center;
}

.lessonPage .homeButton {
    margin: 24px 0;
}

/***************/
/*BUTTON STYLES*/
/***************/

.actionButton{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    display: inline-block;
    padding: 12px 48px;
    border-radius: 8px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.actionButton.danger{
    border: 1px #F271B6 solid;
    color: #F271B6;

}

.actionButton.danger:hover {
    background: #F271B6;
    color: #f7f7f7;
}

.actionButton a{
    color: inherit;
}

.actionButton.warning{
    border: 1px #3ea8d8 solid;
    color: #3ea8d8;
}

.actionButton.warning:hover {
    background: #3ea8d8;
    color: #f7f7f7;
}

.actionButton.sm{
    font-size: 14px !important;
    padding: 8px 24px;
    border-radius: 6px;
}

.button.sm{
    font-size: 14px !important;
    padding: 8px 24px;
    border-radius: 6px;
    display: inline-block;
}


/*******************/
/*PROGRAMMING THEME*/
/*******************/
.programming .courseHeader{
    background: #F271B6;
}

.programming h5{
    color: #F271B6;
    border-color: #F271B6;
}

.programming .horizline{
    display: block;
    height: 1px;
    background: #F271B6;
    width: 0%;
}

.programming .homeButton:hover{
    color: #F271B6;
}

#program-a .button div {
    border: 1px #F271B6 solid;
    color: #F271B6;
}

#program-a .button div:hover {
    background: #F271B6;
    color: #f7f7f7;
}

#program-a h1 {
    color: #F271B6;
}

/******************/
/*WEB DESIGN THEME*/
/******************/
.webDesign .courseHeader{
    background: #8fd12e;
}

.webDesign h5{
    color: #8fd12e;
    border-color: #8fd12e;
}

.webDesign .horizline{
    display: block;
    height: 1px;
    background: #8fd12e;
    width: 0%;
}

.webDesign .homeButton:hover{
    color: #8fd12e;
}

#program-b .button div {
    border: 1px #8de018 solid;
    color: #8fd12e;
}

#program-b .button div:hover {
    background: #8fd12e;
    color: #f7f7f7;
}

#program-b h1 {
    color: #8fd12e;
}

/*******************/
/*GAME DESIGN THEME*/
/*******************/
.gameDesign .courseHeader{
    background: #3ea8d8;
}

.gameDesign h5{
    color: #3ea8d8;
    border-color: #3ea8d8;
}

.gameDesign .horizline{
    display: block;
    height: 1px;
    background: #3ea8d8;
    width: 0%;
}

.gameDesign .homeButton:hover{
    color: #3ea8d8;
}

#program-c .button div, input.button {
    border: 1px #3ea8d8 solid;
    color: #3ea8d8;
    background: none;
}

#program-c .button div:hover, input.button:hover {
    background: #3ea8d8;
    color: #f7f7f7;
}

#program-c h1 {
    color: #3ea8d8;
}





.webDesign, .programming, .gameDesign p{
    color: grey;
}

/******FARAH EDITS******/
.homeButton.f_blue{
background: #3ea8d8;
}

.homeButton.f_green{
background: #8fd12e;
}

.webDesign .homeButton.f_white{
    background: white;
    color: #8fd12e;
}

.webDesign .homeButton.f_white:hover{
    background: #8fd12e;
    color: white;
}

.programming .homeButton.f_white{
    background: white;
    color: #F271B6;
}

.programming .homeButton.f_white:hover{
    background: #F271B6;
    color: white;
}

.gameDesign .homeButton.f_white{
    background: white;
    color: #3ea8d8;
}

.gameDesign .homeButton.f_white:hover{
    background: #3ea8d8;
    color: white;
}


.homeButton.f_blue:hover{
background: white;
}

.homeButton.f_green:hover{
background: white;
}


.horizline.f_blue{
background: #3ea8d8 !important;
}

.horizline.f_green{
background: #8fd12e;
}

h5.f_blue{
border-color: #3ea8d8;
color: #3ea8d8;
}

h5.f_green{
border-color: #8fd12e;
color: #8fd12e;
}