<!DOCTYPE html>
<html>
<head>
  <title>iCanCodeClub</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
	<!--[if lt IE 8]>
<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE8.js"></script>
<![endif]-->
	
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

<!--[if !IE 8]><!-->
<%= javascript_include_tag "jquery.waypoints.min.js" %>
<%= javascript_include_tag "prism.js" %>
<%= javascript_include_tag "header.js" %>
	<!--<![endif]-->

<!--[if lt IE 8]>
<%= javascript_include_tag "header.js" %>
<![endif]-->


  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Sniglet:400,800|Varela+Round' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Roboto:400,300,100|Roboto+Slab', media: 'all' %>
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Varela+Round', media: 'all' %>

  <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- google analytics -->

    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-63963915-2', 'auto');
    ga('send', 'pageview');
    </script>



</head>
<% if controller.controller_name == 'news' %>
    <body data-no-turbolink>
<% else %>
    <body >
<% end %>
<!-- header -->
<header>

  <!--nav goes here-->
  <nav>
    <%= link_to root_path do %>
        <%= image_tag('icc_head.png', width: '150px', height: '37px', id: 'logo') %>
    <% end %>
    <p id="absohead" class="nomobile"><span style="color:black;font-weight: 600;">Learning Center</span><br>A Fun Digital Sandbox<br>for Lifelong
      Computing!</p>

    <div class="navContainer nav1">
      <%= render "page/links" %>
    </div>

    <div class="navContainer nav2">
      <div class="hotdog">
        MENU
      </div>
      <div class="floatmenu">
        <%= render "page/links" %>
      </div>

    </div>

  </nav>
  <!--
  <div id="navLogin">
    <% # link_to('Login', controller: 'page', action: 'home') %>
  </div>
-->
</header>
<div style="height: 60px;"></div>

<% if !notice.nil? and !current_page?(:action => 'home', :controller => 'page') and !current_page?('/') %>
    <p id="notice"><%= notice %></p>
<% end %>

<!--<div id="push"></div>-->
<%= yield %>
<hr>
<footer class="wow popUp">
  <div class="container_wide">

    <div class="col-third">
      <div class="content">
        <h1>Contact Us</h1>
        <hr>
        <p>
          <%= mail_to 'info@icancodeclub.com' %><br>
          Phone: (585) 434-5533
        </p>
      </div>
    </div>
    <div class="col-third">
      <div class="content">
        <h1>Social Media</h1>
        <hr>
        <p>
          <%= link_to 'https://www.facebook.com/pages/ICanCode/942981635784038' do %>
              <%= image_tag 'facebook.png', width: 40, height: 40 %>
          <% end %>
	  <%= link_to 'https://twitter.com/iCanCodeClub' do %>
              <%= image_tag 'twitter.png', width: 40, height: 40 %>
          <% end %>

          <%= link_to 'https://www.linkedin.com/pub/icancode-kids-club/101/9b7/6b1' do %>
              <%= image_tag 'linked-in.png', width: 40, height: 40 %>
          <% end %>
        </p>
      </div>
    </div>
    <div class="col-third">
      <div class="content">
        <h1>More</h1>
        <hr>
	<p>Proud Partner with
	</br>
	<%= image_tag 'pcc.jpg' %>
  <%= image_tag 'brighton.jpg' %>
	</p>

      </div>
    </div>
  </div>
</footer>
<div id="cr" class="wow copyslide">
  &copy; iCanCodeClub <%= Date.today.year %>
</div>
</body>
</html>
